@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* border: dotted 1px black; */
}

body {
    font-family: 'Lato', sans-serif; 
}

/* Top Navbar */
nav.navbar{
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 5;
}

.top-navbar-color{
    background-color: #273B22;
}

.navbar-brand {
    margin-left: 2rem;
}

.search-bar-color{
    background-color: #384C46;
}

/* Side Navbar */
.sidebar {
    min-height: 100vh;
}

.side-navbar-color{
    background: rgba(78, 78, 29, 0.41);;
}

#side-nav-icons-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000;
}

.sidebar .nav-link {
    color: #000;
}

.sidebar .nav-link img {
    width: 30px;
    height: 30px;
}

.side-nav-icons{
    color: black;
}

/* About Us Content */

.about-heading{
    text-align: center;
}

.main-content-color{
    background-color: #fff4ed;
}

/* Card */

.card img {
    object-fit: cover;
}

.card-body-color{
    background-color: #EBEBE5
}

 .about-link{
    color: #0d805e;
 } 

 /* Social Media Section */

