/* 
*Mobile Section
*/

@media only screen and (max-width: 640px) {
  /* Remove container in mobile */

  body{
    background: #ffffed;
  }
  
  div.container-lg {
    width: 100%;
    padding: 0;
  }

  /* Breadcrumbs mobile */
  .breadcrumbs-container {
    display: none;
  }

  .breadcrumbs-mobile {
    display: block;
  }

  /* Hide desktop top nav bar elements */
  .nav-top-icon-profile, .nav-top-icon-post {
    display: none;
  }

  /* Unhide notification bell in mobile view */
  .mobile-bell {
    display: block;
    background-color: #ffffed;
    padding-bottom: 0;
    font-size: 24px;
    display: flex;
    justify-content: end;
    padding: 15px 20px 0px 0px;
  }

  /* Hide side navbar */
  .side-navbar-hide {
    display: none;
  }

  /* 
  * Mobile card 
  */

  /* Card top color change in mobile view*/
  .card-top-color-mobile {
    padding-bottom: 0;
  }

  /* Bottom-navbar */
  #bottom_navbar {
    display: block;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    z-index: 5;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: #273b22;
    height: 4.5rem;
  }

  .icon-text-color {
    color: white;
    font-size: 14px;
  }

  a.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
  }

}

/* End Mobile Section */
