* {
  margin: 0;
  padding: 0;
  /* border: dotted 1px black; */
}

body {
  background-image: url('/images/background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
  height: 100vh;
}
.form-container {
  background-color: rgb(218, 218, 203); 
  backdrop-filter: blur(10px); 
  max-width: 400px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
}

.btn-custom {
  background-color: #0c2b15;
  color: #fff;
  border: none;
}
.btn-custom:hover {
  background-color: #0b2411;
}
.social-buttons .btn {
  width: 100%;
  margin: 5px 0;
}
.divider {
  text-align: center;
  margin: 20px 0;
  position: relative;
}
.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background-color: #ccc;
}
.divider::before {
  left: 0;
}
.divider::after {
  right: 0;
}
.divider span {
  padding: 0 10px;
  color: #888;
}
a {
  text-decoration: none;
  color: #007bff;
}
a:hover {
  text-decoration: underline;
}

.desktop-socials-icon {
  width: 11px;
  height: 11px;
}

/*
 * When in Desktop Version and hiding Mobile elements 
*/

.small-mobile-logos {
  display: none; /* hide on desktop */
}

/* 
*Mobile Section
*/

@media only screen and (max-width: 640px) {
/* Hide desktop elements */
.desktop-socials {
  display: none;
}

/* Unhide  in mobile view */
.small-mobile-logos {
  display: block;
  width: 50px;
  height: 50px;
}

}